[package]
name = "mp-stats-server"
version = "0.0.1"
edition.workspace = true

[[bin]]
name = "server"
path = "src/main.rs"

[dependencies]
axum = { workspace = true }
tokio = { workspace = true }
tower-http = { workspace = true }
clap = { workspace = true }
