[package]
name = "mp-stats-core"
version = "0.5.0"
edition.workspace = true

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
smol_str = { workspace = true }
mp-stats-common = { path = "../common" }
